# Ignore WordPress core files
wp-admin/
wp-includes/
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/upgrade/
wp-content/*.log
wp-content/*/*.log

# Ignore WordPress configuration file
wp-config.php

# Ignore environment-specific configuration files
wp-config-*.php

# Ignore system files that might be created by the server
.DS_Store
Thumbs.db

# Ignore various development files and directories
node_modules/
vendor/
npm-debug.log
yarn-error.log
composer.lock

# Ignore IDE and editor-specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Ignore miscellaneous files
*.log
*.pot
*.sql
*.zip

# Ignore deployment-related files
deploy.sh
